html {
	background-color: aquamarine;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: beige;
}

input, p {
	margin: 0;
}

p {
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
}

#container {
	padding: 8px;
	gap: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#right {
	min-width: 165px;
}

.center {
	text-align: center;
}

.margin-up {
	margin-top: 10px;
}

hr {
	width: 50%;
	display: block;
	height: 1px;
  border: 0;
	border-top: 1px solid #000;
	padding: 0; 
	margin: 10px 0 0 25%;
}

