html {
	background-color: aquamarine;
}

canvas {
	/* width: 100%; */
	background-color: beige;
}

input, p {
	width: 1;
	/* transform: scale(1.5); */
	margin: 0;
}

p {
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
}

#container {
	gap: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#right {
	/* display: flex; */
	/* align-items: ; */
}